*{
    padding: 0; 
    margin: 0; 
    
   
} 
body{
    width: 100%; 
    height: 100vh;
}
.wrapper{
    background: url('assests/background/hero.jpg') no-repeat center ;  
    background-size: 100%; 
    overflow: hidden;
    height: 101vh; 
    width: 100%;
} 
.navbar{
   
    height: 80px; 
    width: 100%; 
    top: 0; 
    left: 0; 
   
} 
.navbar .top-logo{
    width: 140px; 
    height: auto; 
    padding: 20px 100px;
} 
.navbar ul{
    float: right; 
    margin-right: 20px;
} 
.navbar ul li{
    list-style: none; 
    margin: 0 8px; 
    display: inline-block; 
    line-height: 80px;
} 
.navbar ul li a {
    font-size: 25px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color: white; 
    padding: 6px 13px; 
    text-decoration: none;
}  
.wrapper .center{
    position: absolute; 
    left: 22%; 
    top: 40%; 
    font-family: Arial, Helvetica, sans-serif; 
    
} 
.center h2{
    color: white; 
    font-size: 45px; 
    width: 900px; 
    font-weight: bold; 
    text-align: center;
} 
.center .p1{
    text-align: center; 
    color: white; 
    font-weight: bold; 
    font-size: 25px; 
    margin-top: 10px;
}  
.center .p2{ 
    text-align: center; 
    color: white; 
    font-weight: bold; 
    font-size: 20px; 
   

} 
.section-one{ 
    background-color: rgba(245, 233, 179, 0.658); 
    height: 78px; 
    padding: 32px; 
    width: 95.5%; 
    display: flex; 
    flex-direction: row; 
} 
.section-one input{
    font-size: 89px; 
} 
.section-one label{
    font-size: 35px; 
    font-family: cursive; 
    font-weight: bold; 
    color: black; 
    padding: 45px;
} 
.section-one button{
    background-color: brown; 
    color: white;  
    margin-left: 70px;
    border: none; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px;
} 
.products{
    margin: 86px;
} 
h2{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} 
.products #men::after{
    content: " " ; 
    flex: 1 1;
    border-bottom: 3px solid gray; 
    margin: auto; 
    margin-left: 10px;
} 
.onetofive_right{
    float: right; 
    font-size: 23px; 
    margin: 3%; 
} 
#icons{
    float: right; 
    margin: 12%;
} 
.item-container { 
   position: relative;
   width: 80%; 
   margin: 12%; 
   display: flex; 
   justify-content: space-between; 
   align-items: flex-start; 
   flex-wrap: wrap; 
} 
.item{ 
    flex-basis: 28%; 
    padding: 10px; 
    margin-bottom: 30px; 
    background-color: rgba(128, 128, 128, 0.623); 
    border-radius: 5px; 
    width: 100%;
    height: 50vh; 
    position: relative;
} 
#size{
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;
   
} 
#size h3{
   float: right;
} 

#circle1{
   margin-left: 53%;
    background-color: rgba(21, 128, 0, 0.781); 
    border-radius: 50%; 
    width: 20px; 
    height: 20px;
}  
#circle2{

     background-color: rgba(0, 45, 128, 0.918); 
     border-radius: 50%; 
     width: 20px; 
     height: 20px;
 }  
 #circle3{
     background-color: black; 
     border-radius: 50%; 
     width: 20px; 
     height: 20px;
 }  
.item img{ 
   display: block; 
   margin-left: auto; 
   margin-right: auto; 
   width: 60%;

} 
#price{ 
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly; 
    margin: 13%; 
    font-weight: bold;
}  
#pants{
    height: 60%; 
    width: 50%;
} 
#bag{ 
    height: 60%; 
    width: 50%;

} 
.products #women::before{
    content: " " ; 
    flex: 1 1;
    border-bottom: 3px solid gray; 
    margin: auto; 
    margin-right: 10px;
} 
.onetofive_left{ 
    float: left; 
    font-size: 23px; 
    margin: 3%; 

} 
.about{ 
    background: url('assests/background/about.jpg') no-repeat;  
    background-size: 100%; 
    min-height: 100%; 
    width: 100%; 
    position: relative; 
    display: flex; 
    flex-direction: column; 
   
   
   
}  
.rectangle{ 
    width: 50%; 
    height: 50%; 
    position: absolute;
    border: 2px solid rgba(229, 255, 0, 0.747); 
    margin: 0; 
    top: 30%; 
    left: 50%; 
    margin-right: -50%; 
    transform: translate(-50%, -50%); 
    justify-content: flex-start;
}
.rectangle h2{ 
    text-align: center;
    color: white; 
    font-weight: bold; 
    font-family: 'Times New Roman', Times, serif; 
    display: block;
} 
.rectangle p{
    margin: 3%; 
    padding: 5%;
    text-align: center; 
    font-size: 33px; 
    color: white;
} 
.twitter-section{ 
    margin-top: 31.5%; 
    position: absolute;
    padding: 0;
    background-color: #a9a9a9; 
    width: 100%; 
    height: 68px; 
    display: flex; 
    flex-direction: row;
   
   
    
} 
.twitter-section i{
    margin: 1% 8%; 
    padding: 0; 
    font-size: 43px; 
    float: left; 
    color: blue;
} 
.twitter-section p{
    margin: 1% ; 
    font-size: 25px; 
    color: whitesmoke;
}
.footer{ 
    margin-top: 36.5%;
    position: absolute; 
    background-color: rgba(0, 0, 0, 0.616); 
    width: 100%; 
    height: 345px;
}

    
   
   
     

   
   







